<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Lista de Usuarios</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Lista de Usuarios</h1>
		<a href="/usuarios/nuevo" class="btn btn-primary">Agregar Usuario</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Edad</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
					<td th:text="${usuario.edad}"></td>
					<td><a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}"
						class="btn btn-warning">Editar</a> <a
						th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>